body {
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 65px;
}

.about {
    text-align: center;
    margin: 20px;
}

.boxes {
    display: flex;
    align-content: center;
    justify-content: center;
}

.first-box {
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
    padding: 70px 70px 70px 70px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.home {
    background-color: #1F2937;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    color: #E5E7EB;
}

.placeholder-img {
    background-color: grey;
    /* border-style: solid; */
    /* border-color: red; */
    padding: 80px 120px 80px 120px;
    margin: 50px;
    color: white;
}

.website-container {
    /* border-style: solid; */
    margin: 50px;
    color: #E5E7EB;
    padding: 10px 10px 10px 10px;
}

.quote {
    background-color: #E5E7EB;
    border: solid;
}

.quote p {
    padding: 0;
    margin-left: 500px;
    margin-right: 500px;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: lighter;
}